
.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.btn-primary{
    padding: 12px 36px 12px 36px;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #4E47FF;
    border-style: none;
    max-width: 200px;
}

.secondary-heading{
    font-size: 42px;
    font-weight: bold;
}

.primary-p{
    color: #252432;
    font-size: 24px;
    opacity: 50%;
}


body{
    background-color: rgb(234, 230, 249);
}

/*header*/
header{
    background-image: url(../Assets/Hero-bg.png);
    padding: 50px 150px 150px 150px;
}

nav ul{
    display: flex;
    justify-content: space-between;
}

nav ul li{
    list-style: none;
}

#logo-nav{
    font-size: 34px;
    font-weight: bold;
    color: #4E47FF;
}

.banner{
    text-align: center;
    justify-items: center;
    margin-top: 150px;
}

.banner h2{ 
    font-size: 65px;
    font-weight: bold;
}


/* main section */
main{
    margin: 0px 150px 0px 150px;
}


/*action section */
.action{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}

.action div{
    max-width: 500px;
}

.action img{
    width: 400px;
    height: 330px;
    border-radius: 48px;
}

