
.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.btn-primary{
    padding: 12px 36px 12px 36px;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #4E47FF;
    border-style: none;
    max-width: 200px;
    
}
body button:hover{
    background-color: yellow;
}


.secondary-heading{
    font-size: 42px;
    font-weight: bold;
}

.primary-p{
    color: #252432;
    font-size: 24px;
    opacity: 50%;
}


body{
    background-color: rgb(234, 230, 249);
}

li{
    list-style: none;
}

/*header*/
header{
    background-image: url(../Assets/Hero-bg.png);
    padding: 50px 150px 150px 150px;
}

nav ul{
    display: flex;
    justify-content: space-between;
}

#logo-nav{
    font-size: 34px;
    font-weight: bold;
    color: #4E47FF;
}

.banner{
    text-align: center;
    justify-items: center;
    margin-top: 150px;
}

.banner h2{ 
    font-size: 65px;
    font-weight: bold;
}


/* main section */
main{
    margin: 0px 150px 0px 150px;
}


/*action section */
.action{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}

.action div{
    max-width: 500px;
}

.action img{
    width: 400px;
    height: 330px;
    border-radius: 48px;
}

/*users section*/
.users{
    background-color: #d4d3fe;
    text-align: center;
    padding: 50px 150px 50px 150px;
    margin-top: 150px;
    border-radius: 24px;
}

.stats{
    display: flex;
    justify-content: space-around;
}

.focus{
    color: #4E47FF;
    font-size: 80px;
    font-weight: bolder;
}

/* review section */

#review{
    text-align: center;
    margin-top: 150px;
}
.review{
    display: flex;
    justify-content: space-around;
}
.customer-review{ 
    background-color: white;
    padding: 25px;
    border-radius: 14px;
    max-width: 366px;
}
.customer-review div{
    display: flex;
    align-items: center;
    text-align: left;
    
}

.customer-review div img{
    width: 40px;
    height: 40px;
    border-radius: 9999px;
}

/* more section*/
.more{
    margin-top: 150px;
    padding: 70px 150px 70px 150px;
    background-color: #FFFFFF;
    border-radius: 14px;
    text-align: center;
}

.more img{
    width: 840px;
    height: 365px;
    border-radius: 48px;
    margin-top: 20px;
}

/* form section*/ 
.form{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    padding: 70px 0px 80px 0px;
}

.form h1{
    font-size: 97px;
    font-weight: bold;
    max-width: 528px;
}

form input{
    max-width: 500px;
    width: 100%;
    height: 70px;
    border-style: none;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
}

form textarea{
    width: 500px;
    height: 140px;
    border-radius: 10px;
    border-style: none;
    padding: 20px;
}

/* footer section*/

footer{
    background-color: #FFFFFF;
    margin-top: 150px;
}

.footer{
    text-align: center;
    padding: 100px;
    
}

.footer ul{
    display: flex;
    justify-content: space-around;
    padding: 0px 750px 70px 750px;
}

.footer ul a{
    text-decoration: none;
    color: #78788a;
    padding: 0px 
}


